/* Color Pallete */
:root {
    --brand-color: #8C2559;
    --light-accent: #B97B73;
    --dark-accent: #7A7394;
    --white: #EDE0D8;
    --black: #1D1B23;
}

/* Style for Navbar */
.navbar-item img {
    min-width: 60px;
    min-height: 70px;
    object-fit: cover;
}
.header-title {
    font-size: 4.5vw;
    
}

.favorites-button, .home-button {
    
}/*css for favourite page*/
/**********************************************************************************************************************************************/
/*main slider*/
.for-all{
    height:250px;
    margin:auto;
    position: relative;
    width: 90%;
    display:grid;
    place-items: center;
    overflow: hidden;
}
/*secondary slider*/
.track{
    display: flex;
    width:calc(250px * 18);
    animation:slide 40s linear infinite ;

}

/*hover over secondary track effect*/
.track:hover{
    animation-play-state: paused;
}

/*image container*/
.for-one{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.images{
    width: 100%;
    border-radius: 5%;
    transition: transform 1s;
}

/*effect when imag is hoverd*/
.images:hover{
    transform: translateZ(20px);
}

/*background gradient for shadow effect*/
.for-all::before,
.for-all::after{
    background:linear-gradient(to right,rgba(255,255,255,1)0%, rgba(255,255,255,0)100% );
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index:2;

}

/*effect before and after image enter view*/
.for-all::before{
    left:0;
    top: 0;
}

.for-all::after{
    right:0;
    top:0;
    transform: rotateZ(180deg);
}



/*these key frame ceate animation, in this case infinite slide*/
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250 * 9));
    }
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}


