/* Color Pallete */
:root {
    --brand-color: #8C2559;
    --light-accent: #B97B73;
    --dark-accent: #7A7394;
    --white: #EDE0D8;
    --black: #1D1B23;
}

/* Universal */
.button {
    background-color: #575757;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
select {
    font-family: 'Josefin Sans', sans-serif;
}

/* Style for Body */
body, html {
    background-color: grey;
    font-family: 'Josefin Sans', sans-serif;}

/* Style for Navbar */
.navbar {
    background-color: black;
    margin-left: auto;
    box-shadow: 0px 1px 10px black;
}
.header-title {
    color: rgb(184, 74, 74);
    font-size: 4.5vw;
}
.navbar-item img {
    min-width: 1em;
    min-height: 4em;
    object-fit: cover;
    background-color: gray;
}
.main-title {
    font-family: 'Limelight', cursive;
    text-shadow: 2px 2px 5px yellow;
}


/* Style for Search Bar */
.searchbar {
    padding: 15px;
    padding-bottom: 20px;
}
input, .select select, .textarea  {
    background-color: #363636;
    color: white;
    border: none;
    border-radius: 5px;
}
.select {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Style for Card Container */
.columns {
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
}

/*Movie,Cocktail Title*/
#movie-title,
#cocktail-title {
    padding-top:10px;
    line-height:35px;
}

/*Movie,Cocktail Image*/
#movie-poster-custom,
#cocktail-image-custom{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}
/*Movie Score Style*/
.score-out-of {
    font-size: 0.75em;
    font-weight:normal;
}

/* Style for Cards */
.column {
    margin:10px;
}
.icon-text{
    align-items: baseline;
}
.card {
background-color: beige;
}
.card-header-title {
font-weight: 600;
}
.card-content {
padding: 0;
box-shadow: none;
}
.card-footer-item {
    margin-top: 10px;
}

/*Style for footer*/
.credits {
    padding-top: 10px;
    padding-left: 10px;
    font-size:10px;
    text-align: center;
}

/*Changes to layout when screen size has min-wdith of 1024px*/
@media screen and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}

    
/*css for favourite page*/
/**********************************************************************************************************************************************/
/*main slider*/
.for-all{
    height:250px;
    margin:auto;
    position: relative;
    width: 90%;
    display:grid;
    place-items: center;
    overflow: hidden;
}
/*secondary slider*/
.track{
    display: flex;
    width:calc(250px * 18);
    animation:scroll 40s linear infinite ;

}

/*hover over secondary track effect*/
.track:hover{
    animation-play-state: paused;
}

/*image container*/
.for-one{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.images{
    width: 100%;
    border-radius: 5%;
    transition: transform 1s;
}

/*effect when imag is hoverd*/
.images:hover{
    transform: translateZ(20px);
}

/*background gradient for shadow effect*/
.for-all::before,
.for-all::after{
    background:linear-gradient(to right,rgba(255,255,255,1)0%, rgba(255,255,255,0)100% );
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index:2;

}

/*effect before and after image enter view*/
.for-all::before{
    left:0;
    top: 0;
}

.for-all::after{
    right:0;
    top:0;
    transform: rotateZ(180deg);
}



/*these key frame ceate animation, in this case infinite slide*/
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250 * 9));
    }
}

@keyframes scroll{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}