/* Color Pallete */
:root {
    --button-color: #575757;
    --body-color: grey;
    --input-color: #363636;
    --white: white;
    --black: black;
    --highlight: yellow;
    --card: beige;
    --pop: rgb(184, 74, 74);
}

/* Universal */
.button {
    background-color: var(--button-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
select {
    font-family: 'Josefin Sans', sans-serif;
}

/* Style for Body */
body, html {
    background-color: var(--body-color);
    font-family: 'Josefin Sans', sans-serif;}

/* Overlay and Intro Card */
#overlay {
    position: fixed; 
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    transition: 3s;
    transition-property: all;
    transition-duration: 0.5s;
  }

#intro-card {
    text-align: center;
    margin: 10px 18%;
    padding-top: 8%;
}

#intro-header {
    margin: 0 auto;
}

#instructions {
    text-align: left;
    list-style-type: disc;
    margin-left: 10px;
}

#main {
    visibility:hidden;
}


/* Style for Navbar */
.navbar {
    background-color: var(--black);
    margin-left: auto;
    box-shadow: 0px 1px 10px var(--black);
}
.header-title {
    color: var(--pop);
    font-size: 4.5vw;
}
.navbar-item img {
    min-width: 1em;
    min-height: 4em;
    object-fit: cover;
    background-color: var(--body-color);
}
.main-title {
    font-family: 'Limelight', cursive;
    text-shadow: 2px 2px 5px var(--highlight);
}


/* Style for Search Bar */
.searchbar {
    padding: 15px;
    padding-bottom: 20px;
}
input, .select select, .textarea  {
    background-color: var(--input-color);
    color: var(--white);
    border: none;
    border-radius: 5px;
}
.select {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cards, #save-favorite-button {
    display: none;
}

/* Style for Card Container */
.columns {
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
}

/*Movie,Cocktail Title*/
#movie-title,
#cocktail-title,
#intro-title {
    padding-top:10px;
    line-height:35px;
}

/*Movie,Cocktail Image*/
#movie-poster-custom,
#cocktail-image-custom{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
}
/*Movie Score Style*/
.score-out-of {
    font-size: 0.75em;
    font-weight:normal;
}

/* Style for Cards */
.column {
    margin:10px;
}
.icon-text{
    align-items: baseline;
}
.card, #intro-card {
background-color: var(--card);
}

.card-header-title {
font-weight: 600;
}

.card-content {
padding: 0;
box-shadow: none;
}

.card-footer-item {
    margin-top: 10px;
}

/*Style for footer*/
.credits {
    padding-top: 10px;
    padding-left: 10px;
    font-size:10px;
    text-align: center;
}


#modal-text{
    text-align: center;
    padding: 10px 0;

}

/*collasing display*/
.modal-content{
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    background-color: var(--card);
    color: var(--pop);
    border-radius: 10px;
}

/*Changes to layout when screen size has max-wdith of 1024px*/
@media screen and (max-width: 1024px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    #intro-card {
        padding-top: 30%;
    }

}

@media screen and (max-width: 750px) {
    #intro-card {
        padding-top: 50%;
    }
}

    

